#row-1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    background-color: lightgray;
    border-radius: 10px;
}
#col-1{
    box-shadow: 0 0 5px 2px lightblue;
}
#but-1{
    background-color: darkslategrey;
    color: aliceblue;
}
#footer{
    background-color: darkslategrey;
}
.icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}